@import 'color-palette';
$color-neutral--primary: $mariner;
$color-neutral--secondary: $fiord;
$color-contrasting--primary: $alabaster;
$color-contrasting--secondary: $jordy-blue;
$color-contrasting--tertiary: $burnt-sienna;