{
  "plugins": [
    [
      "babel-plugin-relative-path-import",
      {
        "paths": [
          {
            "rootPathPrefix": "@styles",
            "rootPathSuffix": "/src/assets/css"
          }
        ]
      }
    ]
  ]
}