@import 'config';
body {
  background-color: $color-background;
  color: $color-text;
}

.TodoList li::marker {
  content: none;
}

h1 {
  margin-top: 0;
  color: #ffffff50;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 1000;
  letter-spacing: 2px;
  font-size: 4em;
  text-transform: uppercase;
}