@use "sass:color";
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../resources/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: #d9d9d9;
  color: #262626;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

h1 {
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
}

.input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  margin-bottom: 50px;
}

.input-section input {
  width: 200px;
  height: 40px;
  background-color: rgba(38, 38, 38, 0);
  border: 0px;
  border-bottom: 2px solid #9fb7c5;
  color: #262626;
  font-size: 2.4em;
  font-family: 'Poiret One', cursive;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.input-section input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.input-section input:-ms-input-placeholder {
  color: #b3b3b3;
}

.input-section input::-ms-input-placeholder {
  color: #b3b3b3;
}

.input-section input::placeholder {
  color: #b3b3b3;
}

.input-section input:focus {
  outline: none;
  color: #color-primary-darkest;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.input-section button {
  margin: 20px;
  width: 50px;
  height: 30px;
  color: #b3b3b3;
  background-color: rgba(38, 38, 38, 0.9);
  border: 1px solid #262626;
  border-radius: 2px;
}

.input-section button:active {
  border: 1px solid #d9d9d9;
}

.weather-info {
  width: 270px;
  background-color: rgba(38, 38, 38, 0.9);
  border: 1px solid #4d4d4d;
  -webkit-box-shadow: 12px 7px 4px -3px rgba(38, 38, 38, 0.6);
          box-shadow: 12px 7px 4px -3px rgba(38, 38, 38, 0.6);
  color: #b3b3b3;
}

.weather-info__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather-info__general .weather-info__alpha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 130px;
}

.weather-info__general .weather-info__alpha h2 {
  display: block;
  margin-top: -28px;
  padding: 0 10px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
  font-weight: 200;
}

.weather-info__general .weather-info__beta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  line-height: 3em;
}
